<meta charset="UTF-8">

<!-- set title according to what the user said, or fallback to a default -->

  <title>CandyCrowd</title>


<!-- favicon -->
<link rel="shortcut icon" href="/lono_favicon.png">

<!-- lastly, the css -->
<link rel="stylesheet" href="/sass/index.css" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
