
// the map geolocation errors
#map .no-geo {
  h1, p {
    margin: 10px;
  }
  h1 {
    font-size: 21px;
    text-align: center;
  }
  p {
    width: 300px;
    margin: 20px auto;
    font-size: 16px;
  }
}

