// libraries
@import "bootstrap";

@mixin border-radius($radius: 0px) {
      -webkit-border-radius: $radius;
         -moz-border-radius: $radius;
              border-radius: $radius;
    }
// include additional styles here
$bg: #878787;
$green: #2ab573;

// modules
@import "_range";
@import "_nogeo";

// button styling for the add buttons
.rate-btn, .add-btn {
  width: 100%;
  background: $green;
  border: 0px;
  height: 10vh;

  color: #FFF;
  font-size: 30px;
}

// the popup at the bottom that is seen when the user wants to add a house
.rate-view {
  width: 100%;
  height: 40vh;
  background: $bg;

  position: absolute;
  top: 60vh;

  padding-top: 40px;
}

.modal-dialog {
  margin: 0px;
  width: 100%;
}

.modal-content {
  box-shadow: none;
  @include border-radius();
  background: $bg;

  .modal-header {
    border-bottom-color: transparent;
  }

  .modal-footer {
    padding: 0px;
    border-top-color: transparent;
  }

  .btn {
    background: $green;
    color: #fff;
    width: 100%;
    border: 0px;
    height: 10vh;
    font-size: 30px;
    @include border-radius();
  }

}

.selected-img {
  display: none;
  width: 40px;
}

table {
  max-height: 100%;
  width: 100%;
  max-width: 500px;
  margin: 4vh auto 0px auto;

  td {
    width: 25%;
    text-align: center;
    cursor: pointer;
    font-size: 10px;
    img { margin-bottom: 3vh;  }
  }
}

.add {
  background: $green;
  color: #fff;
  width: 100%;
  border: 0px;
  height: 10vh;

  position: absolute;
  bottom: 0px;
}

// blurred bg for the bottom popup
.blurred-bg {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 90vh;
  position: absolute;
  top: 0px;
  left: 0px;
}
