// libraries
@import "bootstrap";

// include additional styles here
$bg: #878787;
$green: #2ab573;

.rate-btn {
  width: 100%;
  background: $green;
  border: 0px;
  height: 10vh;

  color: #FFF;
  font-size: 30px;
}

.rate-view {
  width: 100%;
  height: 33.33333333333%;
  background: $bg;

  position: absolute;
  top: 66.666666666666%;

  padding-top: 40px;

  input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 90%; /* Specific width is required for Firefox. */
    background: $green;
    height: 10px;
    border-radius: 5px;
    margin-left: 5%;
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 4px solid #fff;
    height: 36px;
    width: 36px;
    border-radius: 18px;
    background: $green;
    cursor: pointer;
  }

  input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }

  input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent; /* Hides the slider so custom styles can be added */
    border-color: transparent;
    color: transparent;
  }
}

