<!DOCTYPE html>
<html lang="en">
  <head><% include partials/head %></head>
  <body>
    <header><% include partials/header %></header>

    <!-- <div class="container house&#45;container"></div> -->

    <div class="container main-view">

      <!-- the map -->
      <div id="map" style="height: 80vh;"></div>
    </div>

    <!-- add a new house -->
    <div class="container rate-view" style="display: none;">
      <input type="range" class="ratings-box" min="1" value="5" max="10" step="1">

      <table>
        <tr>
          <td onclick="types.push('taffy')">
            taffy
          </td>
          <td onclick="types.push('chocolate')">
            chocolate
          </td>
          <td onclick="types.push('gummies')">
            gummies
          </td>
          <td onclick="types.push('bad')">
            bad stuff
          </td>
        </tr>
      </table>

      <button onclick="new_house()">add rating</button>
    </div>

    <button onclick="open_rate_view()">rate view</button>

    <footer><% include partials/footer %></footer>
  </body>
</html>
