<!DOCTYPE html>
<html lang="en">
  <head><% include partials/head %></head>
  <body>
    <header><% include partials/header %></header>

    <!-- <div class="container house&#45;container"></div> -->

    <div class="main-view">

      <!-- the map -->
      <div id="map" style="height: 90vh;"></div>

      <button onclick="open_rate_view()" class="rate-btn">Rate a house</button>
    </div>

    <!-- add a new house -->
    <div class="rate-view" style="display: none;">
      <input type="range" class="ratings-box" min="1" value="5" max="10" step="1">

      <table>
        <tr>
          <td onclick="types.push('taffy')" style="color: #cc33cc;">
            taffy
          </td>
          <td onclick="types.push('chocolate')" style="color: #75433b;">
            chocolate
          </td>
          <td onclick="types.push('gummies')" style="color: #58cdbf;">
            gummies
          </td>
          <td onclick="types.push('bad')" style="color: #474747;">
            bad stuff
          </td>
        </tr>
      </table>

      <button onclick="new_house()">add rating</button>
    </div>


    <footer><% include partials/footer %></footer>
  </body>
</html>
